.background-container {
    margin-top: 60px;
    height: 640px;
}

.background-img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.timer-container {
    box-shadow: rgba(0, 0, 0, 0.2) 5px 3px 10px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 25px 40px;
}

.next-race-title {
    align-items: center;
    display: flex;
    height: 100%;
}

.next-race-title h2 {
    font-weight: bold;
    margin-bottom: 0;
}

.next-race-title h2:first-child {
    margin-right: 20px;
}

.next-race-flag {
    height: 100%;
    margin-right: 20px;
}

.next-race-timer {
    align-items: center;
    display: flex;
}

.next-race-timer-part {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 16px;
}

.next-race-timer-part:last-child {
    margin-right: 0;
}

.next-race-timer-part h2 {
    font-weight: bold;
    margin-bottom: 0;
}

.last-race-title {
    display: flex;
    align-items: center;
    margin-bottom: 128px;
}

.last-race-flag {
    height: 60px;
    margin: 0 20px;
}

.last-race-title h1 {
    font-weight: bold;
    margin-bottom: 0;
}

.last-race-podium {
    align-items: flex-start;
    display: flex;
}

.last-race-driver-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 24px;
}

.driver-name-container {
    align-items: center;
    display: flex;
    margin-bottom: 16px;
}

.driver-name-container img {
    height: 60px;
}

.driver-name-container h2 {
    margin-bottom: 0;
    font-weight: bold;
}

.last-race-driver-box h1 {
    font-weight: bold;
}

.last-race-driver-box:first-child {
    margin-top: 72px;
}

.last-race-driver-box:last-child {
    margin-right: 0;
    margin-top: 144px;
}

.last-race-driver-box img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}