.table {
    width: 100%;
}

.table th {
    background-color: var(--red-400);
    color: var(--white);
    text-align: left;
}

.table th:first-child {
    border-top-left-radius: 6px;
}

.table th:last-child {
    border-top-right-radius: 6px;
}


.table td, .table th {
    padding: 16px;
}

.table tbody tr:nth-child(even) {
    background-color: var(--gray-100);
}